<div class="chart">
  <div class="chart__title">Overall results for the period: {{55}}</div>
  <div class="c-progress-bar">
    <div class="c-progress-bar__item c-progress-bar__item--unassigned" [style.max-width]="chartView.unassigned+'%'"></div>
    <div class="c-progress-bar__item c-progress-bar__item--week" [style.max-width]="chartView.week+'%'"></div>
    <div class="c-progress-bar__item c-progress-bar__item--ok" [style.max-width]="chartView.ok+'%'"></div>
    <div class="c-progress-bar__item c-progress-bar__item--good" [style.max-width]="chartView.good+'%'"></div>
    <div class="c-progress-bar__item c-progress-bar__item--excellent" [style.max-width]="chartView.excellent+'%'"></div>
  </div>
  <div class="chart__legend">
    <span class="chart__legend-item chart__legend-item--unassigned">Unassigned ({{chartView.unassigned}}%)</span>
    <span class="chart__legend-item chart__legend-item--week">Weak ({{chartView.week}}%)</span>
    <span class="chart__legend-item chart__legend-item--ok">Ok ({{chartView.ok}}%)</span>
    <span class="chart__legend-item chart__legend-item--ok">Good ({{chartView.good}}%)</span>
    <span class="chart__legend-item chart__legend-item--excellent">Excellent ({{chartView.excellent}}%)</span>
  </div>
</div>
